<!-- Page to show the logged-in @user -->

<h5>Log Out</h5>
<h2>Welcome: <%=@user.username%></h2>

    <% @posts.each do |post| %>
    <p><%= post.body %></p>
    <%end%>
    
<br>
<%= link_to "Edit Your Account", edit_user_path(@user)%>
<br>

<%= link_to "Delete You Account", @user, method: :delete %>
<br>
<%= link_to "Create a Post", new_post_path(@post)%>

 <%= @user.email %>
</p>
